/* Header.css */

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333; /* Header background color */
    height: 50px; /* Header height */
  }
  
  .tab {
    cursor: pointer;
    color: #fff; /* Tab text color */
    padding: 10px 20px;
    transition: 0.3s; /* Transition effect for smooth color change */
  }
  
  .active-tab {
    background-color: #007bff; /* Active tab background color */
    color: #fff; /* Active tab text color */
    padding: 10px 20px;
    border-radius: 5px; /* Optional: Add border-radius for rounded corners */
    transition: 0.3s; /* Transition effect for smooth color change */
  }
  
  .tab:hover {
    background-color: #555; /* Tab background color on hover */
  }
  